.sidebar{
    flex: 0.126;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar_icon{
    width: 8.7rem;
    object-fit: contain;
    padding: 24px;
}

.sidebar_hr{
    border: 1px solid hsl(0, 2%, 25%);
    width: 90%;    
}